<!DOCTYPE HTML>
<html>
<head>
<title>RUMMY</title>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/app.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel='stylesheet' href="stylesheet.css">
</head>
<body th:data="${value}" onload="connect();"> <!-- Der einfachste Weg, um mittels thymeleaf an connect() ein Parameter zu übergeben, -->
	<div class="bigBox">
		<div class="upperRow">
			<div class="player">
				<p>Olaf</p>
			</div>
		</div>
		<div class="middleRow">
			<div class="leftColumn">
				<div class="player">
					<p>Olaf</p>
				</div>
			</div>
			<div class="middleColumn">
				<div>
					<div class="upperRow">
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="non-rotate">
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="non-rotate">
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="non-rotate">
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="non-rotate">	
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="non-rotate">
					</div>
					<div class="middleRow">
					<div class="leftColumn">
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="rotate">
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="rotate">
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="rotate">
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="rotate">	
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="rotate">
					</div>
					<div class="middleColumn">
					<div class="middle"></div>
					</div>
					<div class="rightColumn">
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="rotate">
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="rotate">
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="rotate">
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="rotate">	
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="rotate">
					</div>
					</div>
					<div class="bottomRow">
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="non-rotate">
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="non-rotate">
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="non-rotate">
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="non-rotate">	
						<img src="/C:\Users\Lumine\Desktop\swelab\workspace\SWE-Labor\rummy-template\src\main\resources\static\img\cardback.png" alt="cardback" height="40" width="25" class="non-rotate">
					</div>
				</div>
			</div>
			<div class="rightColumn">
				<div class="player">
					<p>Günther</p>
				</div>
			</div>
			</div>
				<div class="bottomRow">
					<div class="player">
						<p>Olaf</p>
					</div>
				</div>
		</div>
	</div>
</body>
</html>