<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>RUMMY</title>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/app.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel='stylesheet' href="/stylesheet.css">
</head>
<body th:data="${matchId}" onload="connect();"> <!-- Der einfachste Weg, um mittels thymeleaf an connect() ein Parameter zu übergeben, -->
	<div class="bigBox">
		<div class="upperRow">
			<div class="player">
				<p th:text="${player1Name}"/>
			</div>
		</div>
		<div class="middleRow">
			<div class="leftColumn">
				<div class="player">
					<p th:text="${player2Name}"/>
				</div>
			</div>
			<div class="middleColumn table">
				<div>
					<div  class="upperRow">
						<p th:each="card: ${player1Cards}" th:text="${cardBack}" class="card non-rotate"/>
					</div>
					<div class="middleRow">
						<div class="leftColumn">
							<p th:each="card: ${player2Cards}" class="rotate card" th:text="${cardBack}"/>
						</div>
						<div class="middleColumn">
							<div class="middle">
								<p th:text="${cardBack}" class="card" onclick="drawClosed()"/>
								<p th:text="${openDeck}" class="card" onclick="drawOpen()"/>
							</div>
						</div>
						<div class="rightColumn">
							<p th:each="card: ${player3Cards}" class="rotate card" th:text="${cardBack}"/>
						</div>
					</div>
					<div class="bottomRow">
						<div th:each="card, iter : ${openHand}">
							<p th:id="${iter.index}" th:text="${card.getStringRepresentation()}" class="card  non-rotate" th:onclick="|discardCard(${iter.index})|"/>
						</div>
					</div>
				</div>
			</div>
			<div class="rightColumn">
				<div class="player">
					<p th:text="${player3Name}"/>
				</div>
			</div>
			</div>
				<div class="bottomRow">
					<div class="player">
						<p th:text="${name}"/>
					</div>
				</div>
		</div>
	</div>
</body>
</html>