<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>RUMMY</title>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/app.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel='stylesheet' href="/stylesheet.css">
</head>
<body th:data="${value}" onload="connect();"> <!-- Der einfachste Weg, um mittels thymeleaf an connect() ein Parameter zu übergeben, -->
	<div class="bigBox">
		<div class="upperRow">
			<div class="player">
				<p th:text="John"/>
			</div>
		</div>
		<div class="middleRow">
			<div class="leftColumn">
				<div class="player">
					<p th:text="Berry"/>
				</div>
			</div>
			<div class="middleColumn table">
				<div>
					<div class="upperRow" th:each="card: $otherPlayers.get(0).handkarten">
						<img src="/img/cardback.png" alt="cardback" height="40" width="25" class="non-rotate">
					</div>
					<div class="middleRow">
						<div class="leftColumn" th:each="card: $otherPlayers.get(1).handkarten" th:if="$otherPlayers.Size() > 1">
							<img src="/img/cardback.png" alt="cardback" height="40" width="25" class="rotate">
						</div>
						<div class="middleColumn">
							<div class="middle">
								<img src="/img/cardback.png" alt="cardback" height="40" width="25" class="non-rotate">
								<img src="/img/cardback.png" alt="cardback" height="40" width="25" class="non-rotate">
							</div>
						</div>
						<div class="rightColumn" th:each="card: $otherPlayers.get(2).handkarten" th:if="$otherPlayers.Size() = 3">
							<img src="/img/cardback.png" alt="cardback" height="40" width="25" class="rotate"/>
						</div>
					</div>
					<div class="bottomRow">
						<div th:each="card: ${openHand}">
							<p th:text="${card.getStringRepresentation()}" style="font-size: 5em"/>
						</div>
					</div>
				</div>
			</div>
			<div class="rightColumn">
				<div class="player">
					<p th:text="Fuchs"/>
				</div>
			</div>
			</div>
				<div class="bottomRow">
					<div class="player">
						<p th:text="${name}"/>
					</div>
				</div>
		</div>
	</div>
</body>
</html>