.bigBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 100%;
}

.middleRow {
    display: flex;
    flex-direction: row;
    height: 70%;
}

.middleColumn {
    width: 70%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.upperRow {
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.bottomRow {
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.leftColumn {
    display: flex;
    flex-direction: column; 
    float: right;
}

.rightColumn {
    display: flex;
    flex-direction: column; 
    float: left;
}